<div *ngFor="let villain of villains">
  <app-card-content
    [name]="villain.name"
    [description]="villain.description"
  ></app-card-content>
  <footer class="card-footer">
    <app-raised-button
      class="card-footer-item"
      [className]="'delete-item'"
      (clicked)="deleteVillain($event)"
      label="Delete"
      [item]="villain"
    ></app-raised-button>
    <app-raised-button
      class="card-footer-item"
      [className]="'edit-item'"
      (clicked)="selectVillain($event)"
      label="Edit"
      [item]="villain"
    ></app-raised-button>
  </footer>
</div>
